<div class="login">
    <h4><a routerLink="/login">登录</a><span>·</span><a class="spanactive">注册</a></h4>
    <div class="login-form">
      <div class="login-form-item login-inpt-top">
        <i class="icon iconfont icon-user1"></i>
        <input type="text">
      </div>
      <div class="login-form-item">
          <i class="icon iconfont icon-user1"></i>
          <input type="text">
        </div>
      <div class="login-form-item login-inpt-bottom">
        <i class="icon iconfont icon-mima"></i>
        <input type="text">
      </div>
    </div>
    <div class="login-btn login-btn-register">注册</div>
  </div>
  
