<div class="login">
  <h4><a class="spanactive">登录</a><span>·</span><a routerLink="/register">注册</a></h4>
  <div class="login-form">
    <div class="login-form-item login-inpt-top">
      <i class="icon iconfont icon-user1"></i>
      <input type="text">
    </div>
    <div class="login-form-item login-inpt-bottom">
      <i class="icon iconfont icon-mima"></i>
      <input type="text">
    </div>
  </div>
  <div class="login-info pull-left">
    <input type="checkbox" name="" id=""><span>&nbsp;记住用户名</span>
  </div>
  <div class="login-info pull-right">
    忘记密码
  </div>
  <div class="login-btn">登录</div>
</div>
