<div class="container">
  <div class="detail">
    <div class="title">{{noteDetail.title}}</div>
    <div class="author clearfix">
      <a href="" class="avatar"><img src="https://upload.jianshu.io/users/upload_avatars/13317307/77a6fce7-92f4-48b7-bf7f-4f54791475b5.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt=""></a>
      <div class="info">
        <a class="name" href="">名字</a>
        <span class="follow">+关注</span>
        <div>2018.12.17 10:45 字数 12344 阅读 23 评论 111 喜欢 12</div>
      </div>
    </div>
    <div class="con">内容</div>
    <div class="support-author text-center">
      <h4>小礼物走一走，来关注我</h4>
      <div>赞赏支持</div>
    </div>
    <div class="show-foot clearfix">
      <div class="pull-left">技术分类</div>
      <div class="copyright pull-right" data-toggle="tooltip" data-html="true" data-original-title="转载请联系作者获得授权，并标注“简书作者”。">
        &copy;著作权归作者所有
      </div>
      <div class="pull-right mr20">举报文章</div>
    </div>
    <div class="follow-detail">
      <div class="author clearfix">
        <a href="" class="avatar"><img src="https://upload.jianshu.io/users/upload_avatars/13317307/77a6fce7-92f4-48b7-bf7f-4f54791475b5.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt=""></a>
        <div class="info">
          <a class="name" href="">名字</a>
          <span class="follow">+关注</span>
          <div>写了12344字，被122人关注，获得了12个喜欢</div>
        </div>
      </div>
      <div class="signature">签名</div>
    </div>
    <div class="bottom">
      <div class="like" (click)="handleLike()" [class.liked]="isLike">喜欢&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{likeNum}}</div>
    </div>
    <app-comment-list></app-comment-list>
  </div>
</div>
