<div class="recommend">
  <div class="title"><span>推荐作者</span><a href=""><i class="icon iconfont icon-shuaxin-copy" [class.rotating]="rloading"></i>&nbsp;换一换</a></div>
  <ul>
    <li class="clearfix">
      <a href="" class="avatar"><img src="https://upload.jianshu.io/users/upload_avatars/4802366/4f86b75d-b61b-4126-8be4-87a151c9cd28.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp" alt=""></a>
      <a href="" class="follow">+关注</a>
      <a href="" class="content">名字</a>
      <p>写了277.1k字 · 1.5k喜欢</p>
      
    </li>
  </ul>
  <a href="" class="btn">查看全部<i class="icon iconfont icon-arrow-top"></i></a>
</div>